/* Заголовки */
h1 {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
}

h2 {
    font-family: 'Arial', sans-serif;
    color: #555;
    text-align: center;
    margin-top: 10px;
    font-size: 2em;
}

/* Стили для списка запросов */
ul {
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 20px auto;
}

ul li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li:nth-child(odd) {
    background-color: #f0f0f0;
}

/* Стили для ссылок */
a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

a:hover {
    color: #0056b3;
}

a:active {
    color: #004085;
}

/* Кнопка для принятия запроса */
a[href*="accept_request"] {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a[href*="accept_request"]:hover {
    background-color: #218838;
}

a[href*="accept_request"]:active {
    background-color: #1e7e34;
}

/* Ссылка на выход */
a[href*="logout"] {
    display: block;
    width: 100px;
    margin: 20px auto;
    text-align: center;
    background-color: #dc3545;
    color: white;
    padding: 10px 0;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a[href*="logout"]:hover {
    background-color: #c82333;
}

a[href*="logout"]:active {
    background-color: #bd2130;
}
