body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4CAF50;
    font-size: 2.5em;
    margin-bottom: 20px;}
/* Стили для формы */

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}

form p {
    margin-bottom: 15px;}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"], form button[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;}

form input[type="submit"]:hover, form button[type="submit"]:hover {
    background-color: #45a049;}
/* Стили для ошибок */

form .errorlist {
    color: #FF0000;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
}

form .errorlist li {
    margin-bottom: 5px;
}
