/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #4a716f;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    background: #273a3b;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #7f7126;
    font-size: 2.5em;
    text-align: center;
}

a {
    color: #23272d;
    text-decoration: none;
    background: #627ba1;
    margin: 10px 0;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a:hover {
    text-decoration: underline;
}

/* Стили для списка новостей */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #adacac;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li h2 {
    color: #333;
    font-size: 1.5em;
    margin: 0;
}

li p {
    margin: 10px 0;
    line-height: 1.6;
}

li em {
    color: #aaa;
    font-size: 0.9em;
}

li a {
    display: inline-block;
    margin-top: 10px;
    color: #0d1a1ade;
    padding: 12px;
}

.button {
    background-color: #a3673f;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    border-radius: 15px;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #357ab8;
}
