{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style4.css' %}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
</head>
<body>

<div class="container">
    <div class="btn">
    <h2 class="buttoi">Что нужно знать</h2>
    <p>Собрать данные о целевой аудитории. Регистрация на <br>
        сайте — это целевое (конверсионное) действие. Если <br>
        человек зарегистрировался на платформе значит, он <br>
        заинтересован в бренде и его продуктах, является <br>
        потенциальным клиентом. При регистрации пользователи <br>
        указывают свои имена и контакты (телефоны или электронные адреса). <br>
        Компания собирает эти сведения и в дальнейшем использует их <br>
        для коммуникации с аудиторией — отправляет email-рассылки <br>
        и сообщения в мессенджере. </p>

    <p>Повысить ранжирование сайта в поисковых системах. <br>
        В процессе регистрации пользователи совершают <br>
        много кликов и переходов по страницам, что <br>
        улучшает поведенческие факторы. Поисковики <br>
        учитывают эти показатели и поднимают сайт в выдаче. <br>
        Разнообразить описание компании. Количество <br>
        зарегистрированных пользователей используют как <br>
        социальное доказательство. Число упоминают на <br>
        сайте, в соцсетях и рекламе. Этот вариант подходит <br>
        компаниям, которые уже привлекли много пользователей: <br>
        большая аудитория платформы повышает доверие потенциальных <br>
        клиентов, партнеров и рекламодателей.</p>
    </div>
</div>

<div class="container">
    <h2 class="buttom">Регистрация</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">За Регистрироваться</button>
        <div class="btn">
            <a class="button" href="{% url 'home' %}">Назад</a>
        </div>
    </form>
</div>

</body>
</html>